/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/fondo.webp");
  background-size: cover; 
  background-position: center; 
  
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #5d16d8;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}
.logo .menu-icon {
  color: #333;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}
.logo .logo-sidebar {
  color: #0e0e0e;
  font-size: 22px;
  font-weight: 500;
}
.logo .logo-name {
  color: #fdfbfb;
  font-size: 22px;
  font-weight: 500;
}

nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
  z-index: 1000;
}
nav.open .sidebar {
  left: 0;
}
.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}
.sidebar-content .list {
  list-style: none;
}
.list .nav-link {
  display: flex;
  align-items: center;
  padding: 9px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.lists .nav-link:hover {
  background-color: #5d16d8;
}
.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}
.nav-link .link {
  font-size: 14px;
  color: #707070;
  font-weight: 400;
  margin-left: 35px;
}
.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: #fff;
}
.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}
nav.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}

img{
  height: 18px;
  width: 18px;
}

/*CSS DEL FORMULARIO*/
.container{
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 38, 255, 0.1);
  overflow: hidden;
  margin: auto;
  margin-top: 100px;
}
.container-principal{
  position: relative;
  width: 90%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 38, 255, 0.1);
  overflow: hidden;
  margin: auto;
  margin-top: 90px;
}

.container-venta2{
  position: relative;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 38, 255, 0.1);
  overflow: hidden;
  margin: auto;
  margin-top: 90px;
  width: 70%;
}

.container-venta{
  position: relative;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 38, 255, 0.1);
  overflow: hidden;
  margin: auto;
  margin-top: 80px;
  padding: 30px;
}

.container_listado{
  position: relative;
  max-width: 900px;
  width: 900%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 38, 255, 0.1);
  overflow: hidden;
  margin: auto;
  margin-top: 100px;
  padding: 10px;
}

.container .forms{
  display: flex;
  align-items: center;
  max-height: 100%;
  width: 200%;
  transition: height 0.2s ease;
}


.container .form{
  width: 50%;
  padding: 30px;
  background-color: #fff;
  transition: margin-left 0.18s ease;
}

.container .forms-venta{
  display: flex;
  align-items: center;
  max-height: 100%;
  width: 200%;
  transition: height 0.2s ease;
}

.container.active .login{
  margin-left: -50%;
  opacity: 0;
  transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup{
  opacity: 0;
  transition: opacity 0.09s ease;
}
.container.active .signup{
  opacity: 1;
  transition: opacity 0.2s ease;
}

.container.active .forms{
  height: 600px;
}
.container .form .title{
  position: relative;
  font-size: 27px;
  font-weight: 600;
}

.form .title::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background-color:  #5d16d8;
  border-radius: 25px;
}

.form .input-field{
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 0px;
  background-color: #5d16d8;
  border-color: #5d16d8;
  border-radius: 10px;
}

.input-field input, select{
  height: 100%;
  width: 100%;
  padding: 10px 10px;
  font-size: 16px;
  transition: all 0.2s ease;
  border-color: #a3a3a3;
  border-radius: 10px;
}

.input-field input:is(:focus, :valid){
  border-bottom-color: #5d16d8;
}

.input-field i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #4070f4;
  font-size: 23px;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
  color: #5d16d8;
}

.input-field i.icon{
  left: 0;
}
.input-field i.showHidePw{
  right: 0;
  cursor: pointer;
  padding: 10px;
}

.form .checkbox-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.checkbox-text .checkbox-content{
  display: flex;
  align-items: center;
}

.checkbox-content input{
  margin-right: 10px;
  accent-color: #5d16d8;
}

.form .text{
  color: #333;
  font-size: 14px;
}

.form a.text{
  color: #5d16d8;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}

.form .button{
  margin-top: 35px;
}

.form .button input{
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #5d16d8;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input:hover{
  background-color: #5d16d8;
}

.form .login-signup{
  margin-top: 30px;
  text-align: center;
}

.boton{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
  
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #5d16d8;
  cursor: pointer;
  transition: all 0.3s ease;
}

.boton{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
  
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #5d16d8;
  cursor: pointer;
  transition: all 0.3s ease;
}

.input-field {
  position: relative;
  margin-bottom: 20px;
  
}

.input-field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.label{
  margin-top: 30px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 0px;
}

td, th {
  border: 0px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dropbtn {
  background-color: #5d16d8;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left: 8px;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-flex;
  align-items: center; 
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;

}

.dropdown-content a {
  color: rgb(255, 255, 255);
  background-color:  #5d16d8;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

.dropdown-content a:hover {background-color: #4f69ff}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #2351ce;
}

.container_listado {
  position: relative;
  height: 500px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: auto;
  margin-top: 10%;
}

.container_listado-venta {
  position: relative;
  height: 500px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: auto;
  margin-top: 10px;
  padding: 30px;
}
.botonNuevo {
  display: inline-block;
  background-color: #5d16d8;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  position: absolute;
  right: 355px;
  top: 20px;
}
.botonReporte {
  display: inline-block;
  background-color: #118305;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  position: absolute;
  right: 190px;
  top: 20px;
}

.botonGuardar {
  display: inline-block;
  background-color: #5d16d8;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  position: absolute;
  right: 40px;
  top: 20px;
}
@media (max-width: 600px) {
  .botonReporte {
    display: inline-block;
    background-color: #118305;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    right: 165px;
    top: 20px;
    position: static;
  }

  .botonGuardar {
    display: inline-block;
    background-color: #5d16d8;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    right: 40px;
    top: 20px;
    position: static;
  }
}


.reporteAuditoria {
  display: inline-block;
  background-color: #118305;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  position: absolute;
  right: 40px;
  top: 20px;
}
.botonGuardar i {
  margin-right: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

    /* Estilos para las columnas del formulario */
    .row {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 15px;
  }

  .col-25,
  .col-75 {
      padding: 0 10px;
      box-sizing: border-box;
  }

  .col-25 {
      flex: 25%;
      max-width: 25%;
  }

  .col-75 {
      flex: 75%;
      max-width: 75%;
  }

  .table-container {
      max-height: 300px;
      background-color: #2351ce;
      overflow-y: auto;
      margin-top: 20px;
      border: 1px solid #ccc;
      color: #fff;
  }

  /* Contenedor principal del formulario de ventas */
.formulario-venta-container {
  width: 100%;
  margin-top: 0;          
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Título del formulario */
.formulario-venta-titulo {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilo de las etiquetas */
.formulario-venta-label {
  font-weight: bold;
  color: #555;
  margin-top: 10px;
  display: block;
}

/* Contenedor de los campos de entrada y botones */
.formulario-venta-field {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

/* Campo de entrada */
.formulario-venta-input {
  width: 69%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.formulario-venta-input-second {
  width: 69%;
  padding: 10px;
  background-color: #ebebeb;
  border: 1px solid #555454;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

/* Selectores */

/* Botón */
.formulario-venta-boton {
  padding: 10px 20px;
  background-color: #5d16d8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.formulario-venta-boton:hover {
  background-color: #460fa5;
}

.formulario-venta-boton2 {
  padding: 10px 30px;
  background-color: #5d16d8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.formulario-venta-boton2:hover {
  background-color: #460fa5;
}

/* Tabla */
.formulario-venta-table-container {
  max-height: 300px;
  overflow-y: auto;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.formulario-venta-table {
  width: 100%;
  border-collapse: collapse;
}

.formulario-venta-table th,
.formulario-venta-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.formulario-venta-table th {
  background-color: #1398c0;
  color: white;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #5d16d8;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.container-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
  gap: 20px; /* Espaciado entre las cards */
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}
/* Estilo para las cards */
.card {
  height: 200px;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}
.card img{
  width: 100px;
  height: 100px;
}
.container-cards-grafico {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 4 columnas iguales */
  gap: 20px; /* Espaciado entre las cards */
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}
.container-grafico {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}